<!-- Home page -->

{% extends "base.html" %}

{% block content %}

    <div class="jumbotron" id="index1">
      <div class="container">
        <h2>Hi, {{ current_user.username }}!</h2>
        <p>
        Welcome to the Marvel Character Elo Ranker. To vote: click on the 'Vote' navigation option
        and select which of the following pairs of characters is superior for each metric. To see
        results: click on the 'Results' navigation option and notice your votes have been transformed
        into an ELO ranking on the corresponding bar charts. Admin options: click on the 'Admin Options'
        navigation option, this will allow you to add/delete metrics and add/delete characters, which will
        update the votes/results view in real time. Enjoy ranking! </p>
        <a class="btn btn-primary" href="#">VOTE</a>
      </div>
    </div>

    <div class="col-lg-12">
      <h2> Recent Activity <span class="badge">5</span> </h2>
        <hr>
        {% for result in results %}
        <div>
          <p>{{ result.user_id }} recently ranked {{ result.alpha_character }} above {{ result.beta_character }} in the metric {{ result.metric }}<p>
        </div>
        {% endfor %}
    </div>

{% endblock %}
