{% extends "base.html" %}

{% block content %}
{% for message in form.errors %}
        <div>{{ message }}</div>
     {% endfor %}

    <h1>Vote!</h1>
    {% if can_vote %}
    <form class="rad",action="" method="post">
        {{ form.hidden_tag() }}
        <br>
         <div style = font-size:20px; font-weight:bold; margin-left:150px;>
          {% for field in form %}
              {{ field.label }}
              {{ field }}
          {% endfor %}
          

        </div>
    </form>
    {% else %}
    <h2> Not enough characters to vote! </h2>
    {% endif %}
{% endblock %}
